$basic-font-color: #283645;
$title-font-color: #000000;
$decoration-font-color: #d22856;
$main-bg-color: #ffffff;

/*поля ввода формы*/
$field-border-color: #e5e5e5;
$field-border-size: 2px;
$field-border-radius: 2px;
