$basic-font-color: #283645;
$title-font-color: #000000;
$decoration-font-color: #d22856;
$basic-font-size: 14px;

$main-bg-color: #ffffff;
$extra-bg-color: #f2f2f2;
$font-family: "OpenSans", "Arial", sans-serif;

$default-padding: 20px;

/*поля ввода формы*/
$field-border-color: #e5e5e5;
$field-border: 2px solid #e5e5e5;
$field-border-radius: 2px;
$field-font-size: 18px;
$legend-font-size: 14px;
