.advertisement {
  font-family: $font-family;
  padding-top: $default-padding;
  padding-bottom: $default-padding * 2;
  padding-left: $default-padding;
  padding-right: $default-padding;
  background-color: $main-bg-color;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}


@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .advertisement p {
    padding: 0;
    margin: 0;
  }

  .advertisement {
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  height: 160px;
  }
}


@media (min-width: $desktop-widths) {

  .advertisement p {
    padding: 0;
    margin: 0;
  }
  .advertisement {
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 100px;
    padding-left: 100px;
    height: 160px;
  }
}
