.contest-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $basic-font-color;
  font-size: $basic-font-size;
  font-weight: 400;
  font-family: $font-family;
  background-color: $main-bg-color;
  margin-bottom: 45px;
}

.contest-form__os-checker,
.contest-form__user-achievements,
.contest-form__user-review,
.contest-form__user-contacts,
.contest-form__user-details {
  padding-top: $default-padding;
  padding-bottom: $default-padding;
  padding-left: $default-padding;
  padding-right: $default-padding;
}

.contest-form__legend {
  color: $decoration-font-color;
  @include block;
  font-size: $legend-font-size;
  padding-left: 22px;
  text-transform: uppercase;
}

.contest-form__user-review {
  text-align: center;
}
.contest-form__user-contacts-legend,
.contest-form__review-title,
.contest-form__os-title,
.contest-form__legend,
.contest-form__achievements-title {
  color: $decoration-font-color;
  font-size: $legend-font-size;
  text-align: center;
  text-transform: uppercase;
}

.contest-form__user-contacts-legend {
  display: none;
}

.contest-form input[type="email"],
.contest-form input[type="text"],
.contest-form input[type="tel"] {
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 30px;
  font-weight: 400;
  font-family: $font-family;
  border: $field-border;
  border-radius: $field-border-radius;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.contest-form input[type="email"]:hover,
.contest-form input[type="text"]:hover,
.contest-form input[type="tel"]:hover,
.contest-form textarea[name="review"]:hover {
  border: $field-hover-border;
}

.contest-form input[type="email"]:focus,
.contest-form input[type="text"]:focus,
.contest-form input[type="tel"]:focus,
.contest-form textarea[name="review"]:focus {
  border: $field-active-border;
}

.contest-form input::-webkit-input-placeholder {
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 30px;
  font-weight: 400;
  font-family: $font-family;
}

.contest-form input:-moz-placeholder {
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 30px;
  font-weight: 400;
  font-family: $font-family;
}

.contest-form textarea[name="review"] {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 200px;
  border: $field-border;
  border-radius: $field-border-radius;
  padding-top: $default-padding;
  padding-bottom: $default-padding;
  padding-left: $default-padding;
  padding-right: $default-padding;
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 32px;
  font-weight: 400;
  font-family: $font-family;
  text-align: center;
  outline: none;
}

.contest-form textarea::-webkit-input-placeholder {
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 32px;
  font-weight: 400;
  font-family: $font-family;
  text-align: center;
}

.contest-form textarea:-moz-placeholder {
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 32px;
  font-weight: 400;
  font-family: $font-family;
  text-align: center;
}

fieldset,
legend {
  @include block;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.contest-form__user-achievements label,
.contest-form__os-checker label {
  @include block;
  vertical-align: baseline;
	position: relative;
	cursor: pointer;
  padding-left: 70px;
  font-size: $form-options-font-size;
}

.contest-form__os-checker label::before {
	content: "";
	position: absolute;
	left: 0;
  top: -8px;
	width: 35px;
	height: 35px;
  background: $main-bg-color;
	border: $field-border;
  border-radius: 50%;
}

.contest-form__user-achievements label::before {
	content: "";
	position: absolute;
	left: 0;
  top: -8px;
	width: 35px;
	height: 35px;
  background: $main-bg-color;
	border: $field-border;
  border-radius: $field-border-radius;
}

.contest-form__user-achievements label:hover::before,
.contest-form__os-checker label:hover::before {
  border: $field-hover-border;
}

.contest-form__user-achievements label:active::before,
.contest-form__os-checker label:active::before {
  border: $field-active-border;
}

.contest-form__os-checker input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 12px;
	width: 15px;
	height: 15px;
	background-color: $decoration-font-color;
  border-radius: 50%;
}

.contest-form__user-achievements input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 12px;
	width: 15px;
	height: 15px;
	background-color: $decoration-font-color;
  background: url("../img/icon-yes.svg") no-repeat center;
}

.contest-form__user-achievements input,
.contest-form__os-checker input {
  display: none;
}

.contest-form__os-checker,
.contest-form__user-achievements {
  background-color: $extra-bg-color;
}

.contest-form__user-achievements ul,
.contest-form__os-checker ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.contest-form__user-achievements li,
.contest-form__os-checker li {
  font-size: $basic-font-size;
  padding-top: 20px;
  padding-bottom: 10px;
}

.contest-form__submit-form {
  padding-left: $default-padding;
  padding-right: $default-padding;
}

.contest-form__button {
  display: block;
  width: 100%;
  color: #ffffff;
  background-color: #2aab6d;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-family;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.contest-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.contest-form__button--progress {
  color: rgba(255, 255, 255, 0.7);
}

.contest-form__button--progress:hover {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: rgba(255, 255, 255, 0.3);
}

.contest-form__button--disabled {
  background-color: #e5e5e5;
  cursor: none;
  pointer-events: none;
}

.contest-form__warning {
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
}

.contest-form__warning b {
  color: $decoration-font-color;
}

.contest-form__warning--desktop {
  display: none;
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .contest-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__user-details {
    order: -5;
    margin-left: 110px;
    width: 475px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
}



@media (min-width: $desktop-widths) {
  .contest-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    & fieldset {
      border: $field-border;
    }
    & fieldset,
    & legend {
      margin: 0;
    }
    &__user-details {
      order: -5;
      margin-left: 110px;
      width: 475px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0;
    }
    &__user-details input[type="text"]:nth-child(2),
    &__user-details input[type="text"]:nth-child(6) {
      width: 340px;
      box-sizing: border-box;
    }
    &__user-details input[type="text"] {
      margin-bottom: 45px;
    }
    &__os-checker {
      order: -4;
      margin-top: 14px;
      margin-right: 110px;
      padding-top: 0;
      padding-bottom: 0;
      width: 436px;
      box-sizing: border-box;
      background-color: $main-bg-color;
    }
    &__os-item {
      margin-left: 65px;
      margin-bottom: 20px;
    }
    &__os-item:last-child {
      margin-bottom: 34px;
    }
    &__os-checker legend {
      margin-bottom: 30px;
    }
  }

  .contest-form__user-contacts {
    order: -3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
  }

  .contest-form__user-contacts legend {
    order: -5;
    margin-bottom: 20px;
  }

/*  .contest-form__user-contacts input[type="tel"] {
    order: -4;
  }
  .contest-form__user-contacts input[type="email"] {
    order: -3;
  }*/

  .contest-form__user-contacts input[type="tel"],
  .contest-form__user-contacts input[type="email"] {
  width: 375px;
  box-sizing: border-box;
  }

  .contest-form__user-details label {
    padding: 0;
    margin-bottom: 45px;
  }

  .contest-form input[type="text"]:nth-child(4) {
    width: 380px;
    box-sizing: border-box;
  }

  .contest-form__user-contacts-legend {
    display: block;
  }

  .contest-form__user-review {
    width: 940px;
  }
  .contest-form__user-achievements {
    background: $main-bg-color;
  }

  .contest-form__user-achievements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    box-sizing: border-box;
  }

  .contest-form__user-achievements li {
    display: inline-block;
  }

  .contest-form__user-review fieldset {
    padding-top: 10px;
    padding-right: 58px;
    padding-bottom: 30px;
    padding-left: 58px;
  }

  .contest-form__submit-form {
    width: 300px;
  }

  .contest-form textarea::-webkit-input-placeholder {
    text-align: left;
  }

  .contest-form textarea:-moz-placeholder {
    text-align: left;
  }

  .contest-form__submit-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 45px;
    align-items: center;
    flex-wrap: wrap;
    width: 940px;
  }
  .contest-form__submit-form,
  .contest-form__warning {
    padding: 0;
  }

  .contest-form__warning--desktop {
    display: inline;
  }
}
