.download-offer {
  font-family: $font-family;
  padding-top: $default-padding;
  padding-bottom: $default-padding;
  padding-left: $default-padding;
  padding-right: $default-padding;
  background-color: #1d2631;
  text-align: center;
}

.download-offer__link {
  @include block;
  vertical-align: baseline;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  width: 100%;
  background-color: #1d2631;
  cursor: pointer;
  border: 3px solid #ffffff;
  border-radius: 30px;
}

.download-offer__link:hover {
  color: $decoration-font-color;
  background-color: #ffffff;
}

.download-offer__link:active {
  color: lighten($decoration-font-color, 30%);
}

.download-offer__wrapper p {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.download-offer__option {
  @include block;
  vertical-align: baseline;
  width: 50px;
  height: 60px;
  font-size: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.download-offer__option--ios {
  background: url("../img/logo-apple.svg") no-repeat center;
}

.download-offer__option--android {
  background: url("../img/logo-android.svg") no-repeat center;
}

.download-offer__option--windows {
  background: url("../img/logo-microsoft.svg") no-repeat center;
}
