.feedback {
  padding-top: $default-padding * 2;
  padding-left: $default-padding;
  padding-right: $default-padding;
  font-family: $font-family;
  text-align: center;
  font-size: $basic-font-size;
  line-height: 30px;
  color: $basic-font-color;
  background-color: $main-bg-color;
  box-sizing: border-box;
}

.feedback__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feedback__item-additional,
.feedback__item:nth-child(n+2) {
  display: none;
}


.feedback__item-title {
  color: $title-font-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.feedback__item-descr {
  font-weight: 400;
  font-size: $basic-font-size;
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .feedback__item-additional {
    display: block;
  }
  .feedback__item {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}


@media (min-width: $desktop-widths) {
  .feedback__item-additional {
    display: block;
  }
  .feedback__item {
    padding-top: 180px;
    padding-bottom: 120px;
  }
}
