.gallery {
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 400;
  font-family: $font-family;
  text-align: center;
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  }
}

@media (min-width: $desktop-widths) {
  .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  }
}
