.main-footer {
  text-align: center;
  color: $basic-font-color;
  font-family: $font-family;
  background-color: $main-bg-color;
  font-size: $basic-font-size;
  line-height: 18px;
}


.main-footer__copyright-link-wrapper,
.main-footer__developer {
  @include block;
  vertical-align: middle;
}
