.main-nav {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-family: $font-family;
  background-color: #283645;
  text-transform: uppercase;
  text-align: center;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}



.main-nav__item a {
  color: #ffffff;
  text-decoration: none;
  @include block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-nav__toggle {
  float: right;
  @include block;
  width: 50px;
  height: 27px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background: url("../img/icon-menu-burger.svg") no-repeat center;
}

@media (min-width: $desktop-widths) {

  .main-nav {
    margin-left: auto;
    &__item {
      @include block;
      padding-left: 40px;
      padding-right: 40px;
    }
    &__toggle {
      display: none;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 90px;
      min-height: 110px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    &__item a {
      text-transform: none;
      font-weight: 300;
    }
  }
}
