.main-nav {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-family: $font-family;
  text-transform: uppercase;
  text-align: center;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.main-nav__toggle {
  float: right;
  @include inline-block-top;
  width: 50px;
  height: 25px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background: url("../img/icon-menu-burger.svg") no-repeat right;
}

.main-nav--opened {
  @include inline-block-top;
  width: 50px;
  height: 25px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background: url("../img/icon-menu-cross.svg") no-repeat center;
  display: none;
}

.main-nav__item a {
  color: #ffffff;
  text-decoration: none;
  @include inline-block-top;
  padding-top: 15px;
  padding-bottom: 15px;
}


@media (min-width: $desktop-widths) {

  .main-nav {
    margin-left: auto;
    &__item {
      @include inline-block-top;
      padding-left: 40px;
      padding-right: 40px;
    }

    &__toggle {
      display: none;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 90px;
      min-height: 110px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    
    &__item a {
      text-transform: none;
      font-weight: 300;
    }
  }
}
