.main-header {
  font-family: $font-family;
  background-color: #2b3848;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat top;
  padding: 0;
  &__tools {
    /*padding-top: $default-padding;
    background: rgba(0, 0, 0, 0.3);*/
    background-color: #2b3848;
  }
  &__logo {
    @include block;
    width: 100%;
    box-sizing: border-box;
    /*padding-left: $default-padding;
    padding-right: 30px;
    padding-bottom: $default-padding;*/
  }
  &__promo {
    color: #ffffff;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: $default-padding;
    padding-right: $default-padding;
    text-align: center;
    font-weight: 300;
    &--photo {
      padding-bottom: 70px;
    }
    &--index {
      font-size: 0;
      background: url("../img/iphone-hand-mobile@1x.png") no-repeat bottom;
      min-height: 310px;
    }
  }
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {

  .main-header {
    position: relative;
  }

  .main-header__promo {
    font-size: 50px;
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    &--index {
      width: 200px;
      background-image: none;
      position: absolute;
      top: 250px;
      left: 0;
      font-size: 40px;
      z-index: 10;
    }
  }
  .main-header--index {
    min-height: 700px;
    background-color: #2b3848;
  }

}

@media (min-width: $desktop-widths) {
  .main-header__tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__logo {
    width: 160px;
    margin-left: 130px;
  }

  .main-header__promo {
    font-size: 50px;
    font-weight: 300;
    padding-top: $default-padding;
    padding-right: $default-padding;
    padding-bottom: $default-padding;
    padding-left: $default-padding;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &--photo {
      padding-left: 350px;
      padding-right: 350px;
      padding-top: 68px;
      padding-bottom: 78px;
    }
  }



  /*

  .main-header__promo {
    font-size: 50px;
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    &--photo {
      padding-left: 250px;
      padding-right: 250px;
    }
    &--index {
      width: 300px;
      background-image: none;
      position: absolute;
      top: 100px;
      z-index: 10;
    }
  }
  .main-header--index {
    min-height: 700px;
    background-color: #2b3848;
  }*/

}
