.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $default-padding;
  padding-right: $default-padding;
  padding-bottom: $default-padding;
  padding-left: $default-padding;
  &__descr {
    padding-top: 10px;
    font-size: $basic-font-size;
    line-height: 30px;
    font-family: $font-family;
    text-align: center;
    color: $basic-font-color;
    background-color: $main-bg-color;
  }
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .promo__descr {
    font-size: $basic-tablet-font-size;
    padding-top: 40px;
    padding-right: 150px;
    padding-bottom: 40px;
    padding-left: 150px;
  }
}

@media (min-width: $desktop-widths) {
  .promo__descr {
    font-size: $basic-desktop-font-size;
    padding-top: 52px;
    padding-right: 300px;
    padding-bottom: 52px;
    padding-left: 300px;
  }
}
