.promo {
  text-align: center;
  font-weight: normal;
  font-family: $font-family;
  &__descr {
    color: $basic-font-color;
    font-size: $basic-font-size;
    line-height: 30px;
    background-color: $main-bg-color;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: $default-padding;
    padding-right: $default-padding;
  }
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .promo__descr {
    font-size: 18px;
    line-height: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media (min-width: $desktop-widths) {
  .promo__descr {
    font-size: 18px;
    line-height: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 300px;
    padding-left: 300px;
  }
}
