.pseudo-science {
  text-align: center;
  font-family: $font-family;
  color: $basic-font-color;
  padding-top: $default-padding;
  padding-left: $default-padding;
  padding-right: $default-padding;
  background-color: $extra-bg-color;
  display: none;

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .pseudo-science {
    display: block;
    padding-left: 340px;
    width: 340px;
  }
}

@media (min-width: $desktop-widths) {
  .pseudo-science {
    display: block;
  }
}
