.user-photo-daily {
  text-align: left;
  font-weight: normal;
  font-family: $font-family;
  margin-bottom: 20px;
  font-size: 0;
}

.user-photo-daily img {
  width: 100%
}

.user-photo-daily__info-wrapper {
  padding-top: $default-padding;
  padding-bottom: $default-padding;
  padding-left: $default-padding;
  padding-right: $default-padding;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f2f2f2;
}

.user-photo-daily__name {
  font-size: $basic-font-size;
  font-weight: 700;
}

.user-photo-daily__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  @include block;
  vertical-align: bottom;
  padding-left: 3px;
}

.user-photo-daily__comment {
  font-size: $basic-font-size;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-photo-daily__likes {
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .user-photo-daily__info-wrapper {
    width: 620px;
  }
}

@media (min-width: $desktop-widths) {

  .user-photo-daily {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    &__info-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 940px;
      box-sizing: border-box;
      padding-top: 30px;
      padding-left: 25px;
    }
    &__title {
      min-width: 300px;
      order: -2;
    }
    &__likes {
      order: -1;
      margin-left: auto;
      min-width: 150px;
      padding-left: 0;
    }
    &__comment {
      min-width: 700px;
    }
  }
  .user-photo-daily img {
    height: 507px;
    width: 100%;
  }
}
